@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Op;
    src: url('./op.otf');
  }
.is-bg-dark {
    background-color: #555!important;
}
.is-poppins p, .is-poppins h2{
    font-family: "Poppins",sans-seriff;
}
.leftside, .middle1, .middle2, .rightside {
    height: 50vh;
    width: 100%;
}
.leftside {
    background-color: #111;
    color: #fff;
}
.is-operatorMono {
    font-family: Op, "Share Tech Mono";
}
.is-shareTechMono {
    font-family: 'Share Tech Mono', 'Poppins',sans-seriff;
}


.contact-heading {
    font-size: 40px;
    color:#fff;
    text-align: center;
}


#contact-text-body {
    border: 4px solid #d8953d;
    border-radius: 12px !important;
    background: #222;
    color: #fff;
    font-family: op, "Fira Code";
    font-size: 15px;
}

.contact-input {
    background: #222 !important;
    border-radius: 12px !important;
    width: 300px !important;
    color: #fff !important;
    font-family: op, "Fira Code" !important;
    font-weight: 800 !important;
    border:none !important;
    margin: 0 auto;
}

.contact-form-button {
    background: #333 !important;
    color: #fff !important;
    font-family: op, "Fira Code" !important;
    font-weight: 800 !important;
    opacity: 0.9 !important;
}

.contact-form-button:hover {
    background: #444 !important;
    opacity: 1 !important;
    width: 80px !important;
    transition: 0.3s;
    transform: scale(1.03);
}

.contact-form-button:disabled:hover {
   background: #333 !important;
   transform: scale(1);

}
.gearson-redirect {
    opacity: 0.8;
}
.gearson-redirect:hover {
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.03);
}
::-moz-selection { /* Code for Firefox */
background-color: #ffc600;
color: #000;
}
/*#BA9EB*/
::selection {
background-color: #ffc600;
color: #000;
}
