@font-face {
    font-family: Op;
    src: url('https://drive.google.com/file/d/1cNFD8poifwe7XiEdkq7ZO9hAH7yN6xg1/view?usp=sharing');
}
.is-operatorMono {
    font-family: Op, "Share Tech Mono";
}
.navHeading span{
    font-size: 30px;
}

.navHeading:hover{
    transform: scale(1.03);
}


.site-navLinks:before {
  text-decoration: none;
  color: #fff;
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}


.site-navLinks:hover:before {
    visibility: visible;
    height: 3px;
}


select {
    border-radius:4px;
}

.solver-navHeading:hover {
    transform: scale(1.03);

}


#content {
    -webkit-appearance: none;
    -moz-appearance: window;
    padding: 2px 19px 2px 2px;
    border: none;
    background-image: url("/arr.svg");
    background-repeat: no-repeat;
    background-position: right center;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 4px;
}
span option {
    background-color : #fff;
}
