@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto+Mono&display=swap');
@font-face {
  font-family: Op;
  src: url('https://drive.google.com/file/d/1cNFD8poifwe7XiEdkq7ZO9hAH7yN6xg1/view?usp=sharing');
}
.back-is-black {
  background: #000;
  font-family: 'Recursive';
  font-size: 19px;
}

.fo {
  font-family: 'Share Tech Mono','Play', 'IBM plex Mono', 'Space Mono', sans-seriff;
}

.fo-3 {
  font-family: 'Share Tech Mono', 'Space Mono', 'Play', sans-seriff;
}
.is-operatorMono {
    font-family: Op, "Share Tech Mono";
}

.color {
  color: #fff;
}

.color1 {
  background: #222;
}

.color-back {
  padding-bottom: 4rem;
  background: #111;
  border-radius: 6px;
}

.adjust {
  margin: 2rem;
  border-radius: 8px;
}

.adjust-1 {
  margin: 0 2rem;
}

.text-format {
  font-size: 18px;
  padding: 1rem;
  margin-left: 1rem;
}

.dropdown {
  margin-bottom: 0rem;
  margin-left: 6rem;
}

.c1 {
  border-radius: 8px 8px 0 0;
}

.c2 {
  border-radius: 0 0 8px 8px;
  margin-bottom: 12px;
  padding-bottom: 15px;
}

.c-111 {
  padding-bottom: 25px;
}

.heading {
  margin-top: -30px;
  font-size: 36px
}

.label {
  margin: 3px 0;
  display: inline-block;
  width: 194px;
}

.input1 {
  margin: 5px;
  padding: 5px;
  vertical-align: middle;
}

.form-inline input {
  background: #202027;
  color: #FFF;
}

button {
  background: #000;
}



.border-radius {
  border-radius: 4px !important;
}

::-webkit-input-placeholder {
  font-size: 25px;
}

:-moz-placeholder {
  font-size: 25px;
}

::-moz-placeholder {
  font-size: 25px;
}


::-webkit-input-placeholder {
  font-size: 13px !important;
}

:-moz-placeholder {
  font-size: 13px !important;
}

::-moz-placeholder {
  font-size: 13px !important;
}


div.dropdown:nth-child(2) {
  margin-left: 3rem;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-heading {
  margin-bottom: -36px;
  margin-top: 15px;
}



::placeholder {
  color: #696969;
  opacity: 1;
  /* Firefox */
  font-family: 'Play';
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #696969;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #696969;
}

.link {
  color: #007700;
}


* {
  border-radius: 0 !important;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

}

.custom-dropdown select {
  color: #000;
  padding: .5em;
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  font-family: "Play";
}



.dropdown-layout {
  background-color: #6c757d;
  font-size: 17px;
  font-family: 'Play';
  padding-right: 0;
}

.dropdown-layout option {
  font-family: 'Play';
}

div a {
  font-family: 'Fira Code';
  position: relative;
  font-weight: 500;
  color: #777;
}

div a:hover {
  text-decoration: none;
  color: #fff;
}


.dropdown a:hover {
    color: #333;
}

@media (max-width: 575.98px) {
  .fo-1 {
    font-size: 14px;
    margin-left: 0.2rem;
    margin-right: 0
  }

  .adjust-to-media {
    margin-left: 0;
  }

  .fo {
    font-size: 14px;
    margin-left: 0.5rem;
  }

  .adjust-to-media-btn {
    margin-left: 0px;
  }

  .color h2 {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .fo-1 {
    font-size: 14px;
    margin-left: 1rem;
  }

  .color h2 {
    font-size: 17px;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .fo-1 {
    font-size: 16px;
  }

  .fo {
    font-size: 15px;
  }

  .input-heading {
    font-size: 20px;
    margin-left: 1rem;
  }

  .color h2 {
    font-size: 17px;
  }

    div .form-inline{
        flex-direction: column;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .fo {
    font-size: 16px;
  }

  .fo-1 {
    font-size: 20px;
  }

  .input-heading {
    font-size: 20px;
  }
  .color h2 {
    font-size: 17px;
  }
  div input {
    width: 100px;
    }
}

@media (min-width: 1200px) {
    .home {
        position: fixed;
    }
  .fo {
    font-size: 17px;
  }
  .color h2 {
    font-size: 19px;
  }
}
