@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@font-face {
    font-family: Op;
    src: url('/op.otf');
}
.bcg {
    background: #000;
}
.katex {
    font-size: 1.3em !important;
}
.is-operatorMono {
    font-family: Op, "Share Tech Mono";
}
.row {
    margin-left: 0;
    margin-right:0;
}
.page-heading {
    margin-left: 5%;
    padding-top: 20%;
    font-family: 'Space Mono';
    font-weight: 700;
  }
  .leftside1, .rightside1 {
      height: 50vh;
      width: 100%;
  }
  .leftside1 {
    background-color: #000;

  }

  .rightside1 {
    background-color: #111;
  }
  .content {
    margin-left: 5%;
      padding-right: 20%;
      font-family: 'Space Mono',sans-serif;
      color: #fff;
      margin-top: 3%;
  }
  .formula {
      margin-left: 10%;
  }
  .page-heading {
      color: #fff;
    text-align: left;
    margin-left: 10%;
    margin-top: 0;
    margin-right: 10%;

  }

.def {
    margin-top: 1%;
    padding-top: 20px;
}

.MathJax_Display {
    text-align: left !important;
  }


.image1 {
    margin-top: 2.5rem;
    float: right;
    width: 47%;
}
.img {
    padding: 5%;
    padding-right: 15%;

}
.img1 {
    padding: 12%;
    padding-top: 0;
}
.home {
    color: #fff;
    font-family: 'Space Mono';
    margin-left: 0.2%;
    font-size: 12px;
    position: fixed;

}
a {
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #888;
}

div.img:nth-child(47) > img:nth-child(1) {
    margin-top: -20%;
}


  @media screen and (min-width:1228px) {
    div .leftside1, .rightside1 {
        height: auto;
    }
    .image2 {
        width: 70%;
    }
    .home h6 {
        font-size: 14px;
        color: #999;
        margin-left: 1rem;
    }
}
@media screen and (min-width:768px) and (max-width:1228px) {
    .leftside1, .rightside1 {
        height: auto;
    }
    .image2 {
        width: 100%;
    }
    .page-heading h1{
        font-size: 2.3rem;
        margin-left: 2rem;
    }
    .home h6 {
        font-size: 13px;
        color: #999;
        margin-left: 1rem;
    }


}
@media screen and (min-width:355px) and (max-width:767.8px) {
    .leftside1 {
        height: auto;
    }
    .rightside1 {
        height: 680vh;
    }
    .page-heading h1{
        font-size: 2rem;
        margin-top: -3%;
        padding-bottom: 3%;
    }
    .home h6 {
        font-size: 12px;
        color: #999;
    }


}
